<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="id1" class="springobjectwith2_xmls.Car" />
	<bean id="id2" class="springobjectwith2_xmls.Flight" />
	<bean id="id3" class="springobjectwith2_xmls.Train" />
	
</beans>